html{
    scroll-behavior: smooth;
}

body {
    background-image: url("/assets/images/BK_bg.jpg");
    background-color:#FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2em;
}

.defaultFont{
    font-family:"flameRegular";
    color:#8B542F;
}

.defaultFontBold{
    font-family:"flameBold";
    color:#8B542F;
}

.centered{
    text-align: center;
}

.noDecor{
    text-decoration: none;
}

@font-face {
    font-family: "flameBold";
    src: url("/assets/fonts/FlameBold.otf")
}

@font-face {
    font-family: "flameCondensed";
    src: url("/assets/fonts/FlameCondensed.otf");
}

@font-face {
    font-family: "flameRegular";
    src: url("/assets/fonts/FlameRegular.otf");
}

@font-face {
    font-family: "flameSans";
    src: url("/assets/fonts/FlameSans.otf");
}