html{
    scroll-behavior: smooth;
}

body {
    background-image: url("/assets/images/BK_bg.jpg");
    background-color:#FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
}

body::-webkit-scrollbar{
    background-color: rgba(134, 134, 134, 0);
}

body::-webkit-scrollbar-track{
    background-color: rgba(134, 134, 134, 0);
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(59, 59, 59, 0.1) !important;
}

h2{
    font-size: 2em;
}

.defaultFont{
    font-family:"flameRegular";
    color:#8B542F;
}

.defaultFontBold{
    font-family:"flameBold";
    color:#8B542F;
}

.centered{
    text-align: center;
}

.noDecor{
    text-decoration: none;
}

.inline{
    display: inline-block;
}

.vr{
    width:1px;
    height:20px;
    display:inline;
    margin: 0 24px;
}

@font-face {
    font-family: "flameBold";
    src: url("/assets/fonts/FlameBold.otf")
}

@font-face {
    font-family: "flameRegular";
    src: url("/assets/fonts/FlameRegular.otf");
}

@font-face {
    font-family: "flameSans";
    src: url("/assets/fonts/FlameSans.otf");
}