.menusCentered{
    display: flex;
    justify-content: center;
}

.menusColumn{
    display:flex;
    flex-direction: column;
}

.menusWrapper{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menuCard{
    width:20vw;
    height:20vw;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    padding:30px;
    margin:10px;
    background-color: #FFFFFF;
}

.menuCardTiny{
    width:20vw;
    height:auto;
}

.imageWrapper{
    width:100%;
    margin-bottom: 15px;
}

.imageWrapperImg{
    width:100%;
}

.textWrapper{
    display:flex;
    flex-direction: row;
    font-size:1rem;
    font-family: "flameBold";
    font-weight: lighter;
}

.textWrapperTxt{
    margin:auto;
    color:#8B542F;
}

.textWrapperBtn{
    text-decoration: none;
    background-color: #ED7801;
    width: 10vw;
    height: 40px;
    font-family: "flameRegular";
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 25px;
    border: none;
    cursor:pointer
}

.textWrapperBtnTiny{
    width:8vw;
}