@media screen and (max-width: 1160px){
    .textWrapperTxt {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1024px){
    /* navbar */
    .desktop{
        display:none;
    }
    .mobile{
        display:flex;
    }

    /* menus */
    .menusWrapper{
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menuCard{
        width:30vw;
        height:30vw;
    }

    .menuCardTiny {
        width: 30vw;
        height: auto;
    }
    
    .textWrapperTxt{
        font-size:1.5rem;
        font-family:"flameBold"
    }

    .textWrapperBtn{
        display: none;
    }

    /* footer */
    .footer{
        height:350px;
    }

    .footerWrapper{
        width:100%;
    }
    .footerInfoWrapper{
        flex-direction: column;
        align-items: center;
    }

    .footerContact{
        margin-top: 6px;
    }

    .footerTitle {
        width:auto;
        margin-top:12px;;
    }

    .footerText{
        font-size:1.8rem;
    }

    .footerSocial{
        margin-top:24px;
    }

    .footerIcon {
        width: 32px;
        height: 32px;
        margin: 0 6px;
    }

    .footerYoutube{
        display:inline;
    }

    .footerTos{
        display:flex;
        flex-direction: column;
        align-items: center; 
    }

    .vr{
        display:none;
    }

    .footerTosText{
        color:#FFFFFF;
        font-family:"flameSans";
        margin:8px 0;
    }

    .footerTosTm{
        margin-top:12px;
        color: #919191
    }
}
