@media screen and (max-width: 900px){
    /* navbar */
    .desktop{
        display:none;
    }
    .mobile{
        display:flex;
    }

    /* menus */
    .menusWrapper{
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menuCard{
        width:30vw;
        height:30vw;
    }

    .menuCardTiny {
        width: 30vw;
        height: auto;
    }
    
    .textWrapperTxt{
        font-size:1rem;
    }
    .textWrapperBtn{
        display: none;
    }
}
